<footer class="bg-blue-grey ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-wide center mb5">

			<img src="/img/rjlewis_digital_logo.svg" alt="RJ Lewis Digital logo" class="db w4 center mb4 br0" width="176" height="57.063" />
			<div class="flex">
				<p class="f3 lh-title light-gray b mb2 w-40-l">Let's Connect<br>
					<a href="https://justrjlewis.drift.com/rj?schedule" class="btn raise mt2 mb2">Call me</a>
				</p>
				<p class="tl  w-60-l">I am accepting new clients for the 4th quarter of 2017. I would love to take a look at your project!</p>
			</div>
	
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 orange">justrjlewis</h3>
				<ul class="mb3">
					<li><a href="/" class="link">home</a></li>
					<!-- <li><a href="/products" class="link">my work</a></li> -->
					<li><a href="/notebook" class="link">my notebook</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 orange">more info</h3>
				<ul class="mb3">
					<!-- <li><a href="/notebook/" class="link">latest work</a></li> -->
					<li><a href="/about" class="link">about</a></li>
					<li><a href="https://justrjlewis.drift.com/rj?schedule" class="link">schedule an appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 orange">keep in touch</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://facebook.com/RJLewisDigital" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/justrjlewis" "svg" "twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="https://use.fontawesome.com/a58d0d1536.js"></script>
<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("UsR1sljxPTAN3UHa1hpaAIOFrtRaqFqd");
  analytics.page();
  }}();
</script>
<script src="/app.js"></script>

</body>

</html>
