<footer class="bg-blue-grey ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-wide center mb5">

			<img src="/img/rjlewis_digital_logo.svg" alt="RJ Lewis Digital logo" class="db w4 center mb4 br0">
			<div class="flex">
				<p class="f3 lh-title light-gray b mb2 w-40-l">Let's Connect<br>
					<a href="#" class="btn raise mt2 mb2">Call me</a>
				</p>
				<p class="tl  w-60-l">I am accepting new clients for the 4th quarter of 2017. I would love to take a look at your project!</p>
			</div>
	
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 orange">justrjlewis</h3>
				<ul class="mb3">
					<li><a href="/" class="link">home</a></li>
					<li><a href="/products" class="link">my work</a></li>
					<li><a href="/post" class="link">notes</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 orange">more info</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">latest work</a></li>
					<li><a href="/values" class="link">about</a></li>
					<li><a href="/contact" class="link">schedule an appointment</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 orange">keep in touch</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://facebook.com/RJLewisDigital" "svg" "facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/justrjlewis" "svg" "twitter") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
