<nav class="flex-ns justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/rjlewis.svg" alt="RJ Lewis logo" class="br0 db mb0 w-100" width="102.078" height="33.391" />
	</a>

	<!-- Primary Nav -->	
		<ul class="flex fw3 grey-3 w-100 w-75-l">
			<!-- <li><a href="/products" class="f6 f5-ns pa3-ns ml3 pb3 dib no-underline">my work</a></li> -->
		
			<li><a href="/about" class="f6 f5-ns pa3-ns ml3 pb3 dib no-underline">about me</a></li>
		
			<li><a href="/notebook" class="f6 f5-ns pa3-ns ml3 pb3 dib no-underline">my notebook</a></li>
		
			<li><a href="/connect" class="f6 f5-ns pa3-ns ml3 pb3 dib no-underline">get in touch</a></li>
		</ul>
</nav>
