{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-primary">
	<div class="center mw6 pv0">

		<img src="/img/rj_logo.svg" alt="" class="db w4 center pv4">
	</div>
</div>
<div class="ph3 bg-grey-2">
	<div class="center mw6 pv3 w-75">
		<p class="flex-ns">I would love to get in touch with you and hear your ideas and questions. It is my goal to grow and improve constantly and your feedback is valuable.</p>

		<div class="flex-ns mb3">
			<div class="w-50">
				<h4 class="f5 b lh-title mb0 primary">work time</h4>
				<p class="f6">
					<span class="orange mb5" style="font-size: .8rem;">Central Standard Time</span>
					<p style="margin-top: -20px;">
					<span style="font-size: .75rem; font-family: Lato, sans-serif;">M — T: 9AM - 2:30PM</span><br>
					<span style="font-size: .75rem; font-family: Lato, sans-serif;">F — S: By appointment</span>
					</p>
				</p>
			</div>
			<div class="w-50">
				<h4 class="f4 b lh-title mb2 primary">How can I get…?</h4>
				<ul>
					<li>Facebook: <a href="https://facebook.com/RJLewisDigital">@RJLewisDigital</a></li>
					<li>Twitter: <a href="https://twitter.com/justrjlewis">@justrjlewis</a></li>
					<li><span style="font-family: Lato, sans-serif;">Phone: 707-893-7553</span></li>
				</ul>
			</div>
		</div>

		<h3 class="f4 b lh-title mb2 primary">Other ways to get in touch with me</h3>
		<p>You can also use the form below for any inquiries. Don’t be shy, drop me a line!</p>

		
	</div>
</div>
<div class="ph3 bg-off-white">
	<div id="git-form" class="center mw7 pv3">
		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
