{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Digital Content Consultant" "subtitle" "Developing strategies that increase customer engagement.") }}

{{ partial "short-text" (dict "heading" "What I do." "description" "advice + education + empowerment" "text" "I take a look at what you're already doing, make suggestions on what works and what doesn't and work with you to implement the changes that you approve." "buttonText" "Let's Connect" "buttonLink" "/contact")}}

{{ partial "2-up" (dict "background" "bg-off-white" "heading" "What you do." "description" "What makes your business tick?" "svg1" "fa-puzzle-piece" "text1" "Do you have ideas that would make it easier for your customers to work with you if you had more time...more resources...more?" "svg2" "fa-rocket" "text2" "Our process begins with those ideas and ends with me presenting ideas, tools and resources to achieve your goals."   ) }}

{{ partial "text-and-image" (dict "background" "bg-img-1" "bgsize" "cover" "heading" "Can you afford my services?" "text" "The question you should be asking is: Can I afford not to improve my customer experience? My inital consultations are free and I will provide you with my thoughts and my ideas before you get my estimate. Much like you, my job is to provide my customer – you – with a quality product at a price-point that works for both of us." "buttonText" "Okay, I'm Ready.  Let's Talk" "buttonLink" "/contact") }}

<!-- {{ partial "blog" . }} -->

{{ partial "footer" . }}
