{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron3.jpg" "title" "I'm just RJ") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "If it aint broke, don't break it." "text" "Not every business needs a multi-million dollar marketing team, but every business should be engaging their customers in the digital space. I specialize in helping small business professionals craft digital content strategies without breaking the bank." "imageUrl" "/img/about/aint-broken.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Keeping it simple is totally my thing." "text" "Don't send mixed messages. We will work together to develop a cohesive brand presence. Your products and services deserve the spotlight." "imageUrl" "/img/about/spotlight2.jpg") }}

  {{ partial "media-block" (dict "heading" "So ready for the singularity." "text" "Same password for everything?  No. Just No. That's living dangerously, bordering on criminal. I am all about making sure that you have access to technology that will actually improve your life." "imageUrl" "/img/about/technology.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Seriously - I'm just RJ" "text" "If you get the impression that my laptop is actually my conjoined twin, my kids would say that you aren't far off the mark. In truth, I spend the majority of my time as a proud Army wife taking care of the 3 kiddos and Lani the Wonder Mut" "imageUrl" "/img/about/family-sketch@484w.png") }}

  {{ partial "media-block" (dict "heading" "My Tech Stack" "text" "I'm currently rocking my trusty Macbook Pro loaded with all of my favs!  My notebook is LITTERED with all of the apps that help me run my life, but here's the short version:  Flock, Sublime Text, Source Tree, Sketch and last, but not least Pixelmator. Read more here." "imageUrl" "/img/about/my-stack.jpg") }}
</div>

{{ partial "footer" . }}
