{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Params.imgtitle) }}

<div class="mw7 center ph3 pt4">

    {{ partial "media-block-reverse" (dict "heading" .Params.heading "text" .Description "imageUrl" "/img/about/family-sketch@484w.png") }}
 <!--  {{ range .section }}
    
  {{ end }}
  <h4 class="f2 f1-l lh-title mb5 mw6 green">
    {{.section}}
  </h4> -->
  
  {{ partial "media-block" (dict "heading" "If it aint broke, don't break it." "text" "Not every business needs a multi-million dollar marketing team, but every business should be engaging their customers in the digital space. I specialize in helping small business professionals craft digital content strategies without breaking the bank." "imageUrl" "/img/about/aint-broken.jpg") | markdownify }}

  {{ partial "media-block-reverse" (dict "heading" "Keep it simple — always." "text" "Don't send mixed messages. We will work together to develop a cohesive brand presence. Your products and services deserve the spotlight." "imageUrl" "/img/about/spotlight2.jpg") }}

  {{ partial "media-block" (dict "heading" "Get ready for the singularity." "text" "Same password for everything?  No. Just No. That's living dangerously and bordering on criminal when there are techniques and resources that can help you . I am all about making sure that you have access to technology that will actually improve your life **and** your workflow." "imageUrl" "/img/about/technology.jpg") | markdownify }}

  <h4 class="f2 f1-l lh-title mb5 mw6 green">
    My tech stack
  </h4>

  {{ partial "media-block" (dict "text" "I do an annual write-up about the tools that I use to get my job done, but I wanted to provide insight into the tools that my clients get the most exposure to: \n\r - [Flock](http://flock.com) Team based chat rooms and instant messaging \n - [Trello](https://trello.com): Project management digital Kanban board. \n - 1Password: That password manager that I told you about. \n - Zoho mail: Which is better — rj@justrjlewis.com, or justRJLewisIsTaken@gmail.com?" "imageUrl" "/img/about/my-stack.jpg") | markdownify }}


</div>

{{ partial "footer" . }}
